
<IfModule mod_rewrite.c>
  RewriteEngine On
  # Removed RewriteBase to prevent conflicts
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>